$yellow: #F8E9A1; $pink: #F76C6C; $lightBlue: #A8D0E6; $blue: #374785; $darkBlue: #24305E;

html, body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, sans-serif;
  background-color: $lightBlue;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Mojangles;
  src: url(../public/fonts/Mojangles-Regular.ttf);
}

@font-face {
  font-family: Mojangles;
  font-weight: bold;
  src: url(../public/fonts/Mojangles-Bold.ttf);
}

@font-face {
  font-family: Ubuntu;
  font-weight: bold;
  src: url(../public/fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: Ubuntu;
  font-weight: bold;
  font-style: italic;
  src: url(../public/fonts/Ubuntu-BoldItalic.ttf);
}

@font-face {
  font-family: Ubuntu;
  font-style: italic;
  src: url(../public/fonts/Ubuntu-Italic.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(../public/fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Reospec;
  src: url(../public/fonts/Reospec.ttf);
}

@font-face {
  font-family: Nordic;
  src: url(../public/fonts/Nordic.ttf);
}