$yellow: #F8E9A1; $pink: #F76C6C; $lightBlue: #A8D0E6; $blue: #374785; $darkBlue: #24305E;

.Header {
  h1 {
    color: $pink;
  }
}


.ArtStuff {
  background-color: $darkBlue;
  height: 100vh; /* Important that these stay as vh and vw */
  width: 100vw;

  p {
    color: white;
  }
}

.one {
  font-family: Mojangles;
}

.two {
  font-family: Mojangles;
  font-weight: bold;
}

.three {
  font-family: Ubuntu;
  span {
    font-style: italic;
  }
}

.four {
  font-family: Ubuntu;
  font-weight: bold;
  span {
    font-style: italic;
  }
}