.Header {
  h1 {
    color: tomato;
  }
}

.ArtStuff {
  background-color: #1b1b2b;
  height: 100vh;
  width: 100vw;

  p {
    color: white;
  }
}

.one {
  font-family: Mojangles;
}

.two {
  font-family: Mojangles;
  font-weight: bold;
}

.three {
  font-family: Ubuntu;
  span {
    font-style: italic;
  }
}

.four {
  font-family: Ubuntu;
  font-weight: bold;
  span {
    font-style: italic;
  }
}