$yellow: #F8E9A1; $pink: #F76C6C; $lightBlue: #A8D0E6; $blue: #374785; $darkBlue: #24305E;

.Header {
  h1 {
    color: $pink;
  }
}

.ArtStuff {
  position: relative;
  background-color: $darkBlue;
  height: 100vh; /* Important that these stay as vh and vw */
  width: 100vw;
  overflow: hidden;

  .circle {
    position: absolute;
    border-radius: 50%;
  }

  .small {
    width: 15px;
    height: 15px;
    background-color: $yellow;
  }

  .med {
    width: 30px;
    height: 30px;
    background-color: $lightBlue;
  }

  .big {
    width: 45px;
    height: 45px;
    background-color: $blue;
  }
}

.one {
  font-family: Mojangles;
}

.two {
  font-family: Mojangles;
  font-weight: bold;
}

.three {
  font-family: Ubuntu;
  span {
    font-style: italic;
  }
}

.four {
  font-family: Ubuntu;
  font-weight: bold;
  span {
    font-style: italic;
  }
}

.five {
  font-family: Reospec;
}

.six {
  font-family: Nordic;
}